:root {
    --background: #292929;
    --background-semidark: #1f1f1f;
    --background-darker: #141414;
    --background-lighter: #313131;

    --accent: #a89d9d;
    --accent-darker: #928e8e;
    --accent-darkest: #787070;

    --top-padding: 110px;
}