@font-face {
    font-family: 'Roboto Mono';
    src: url('./assets/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./assets/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}