.content-cont {
    width: 100%;
    background: $main_color_sec;
    box-sizing: border-box;
    padding: 10px;
    flex: 1;

    .card {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
        background: $secondary_color_sec;
        border: 1px solid $secondary_color_border;
        border-radius: 5px;

        .title {
            width: 100%;
            height: fit-content;
            font-size: 24px;
            box-sizing: border-box;
            padding: 10px;
            padding-bottom: 0px;
            color: $contrast_color_prim;
            font-family: 'Roboto Slab';
        }

        .content {
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            color: $contrast_color_prim;
            font-family: 'Roboto Slab';
        }

        hr {
            width: 95%;
            border: 1px solid $secondary_color_border;
        }
    }

    .card[alt="contact"] {
        margin-bottom: 0px;
    }
}