$main_color_prim: #22272e;
$main_color_sec: #2d333b;

$secondary_color_prim: #717e8b;
$secondary_color_sec: #373e47;
$secondary_color_border: #444c56;

$contrast_color_prim: #eddbdb;
$contrast_color_sec: #9f2121;

$text_color_prim: #e8e8e8;