@import './scss/variables';
@import './scss/fonts';
@import './scss/m_header';
@import './scss/m_content';

html, body {
    margin: 0 auto;
    min-height: 0;
    height: 100%;
}

.main-cont {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-height: 0;
}

a {
    color: inherit;
}